<h1>Br Pipes</h1>

<h3>Data</h3>

<span>Example: {{dateNow}}</span>
<br>
<span>Parse:  {{dateNow | data:'dd/MM/yyyy'}}</span>

<h3>CEP</h3>

<span>Example: {{cep}}</span>
<br>
<span>Parse:  {{cep | cep}}</span>

<h3>CPF</h3>

<span>Example: {{cpf}} </span>
<br>
<span>Parse:  {{cpf | cpf}}</span>

<h3>CNPJ</h3>

<span>Example: {{cnpj}} </span>
<br>
<span>Parse:  {{cnpj | cnpj}}</span>

<h3>Decimal</h3>

<span>Example: {{decimal}} </span>
<br>
<span>Parse:  {{decimal | decimal}}</span>

<h3>Telefone</h3>

<span>Example (8 digitos): {{telefoneA}} </span>
<br>
<span>Parse:  {{telefoneA | telefone}}</span>
<br>
<br>
<span>Example (8 digitos com DDD): {{telefoneB}} </span>
<br>
<span>Parse:  {{telefoneB | telefone}}</span>
<br>
<br>
<span>Example (9 digitos): {{telefoneC}} </span>
<br>
<span>Parse:  {{telefoneC | telefone}}</span>
<br>
<br>
<span>Example (9 digitos com DDD): {{telefoneD}} </span>
<br>
<span>Parse:  {{telefoneD | telefone}}</span>